* {
  /*border: 1px solid black;*/
  margin: auto;
  box-sizing: border-box;
}


body {

  height: 5000px;
  background: linear-gradient(#c5301a, yellow);
}


ul {
  list-style-type: none;
  background-color: #c5301a;
  overflow: hidden;
}



li {
  float: left;
  padding: 0;
  margin: 2%;
}

li a {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  background-color: coral;
}

a {
  transition: all 1s ease;
}

a:hover {
  background-color: lightgray;
  /*border-radius: 20px;*/
}

a:active {
    transition: all 1s ease;
	box-shadow: 0px 2px 9px rgba(44,31,60,1), 9px 3px 6px rgba(0,0,0,.9);
}

/*main*/
.main {
  background-color: #a9301a;
  height: 90%;
  width: 80%;
}


/*About us*/
.h2info, h1, h2{
  font-size: 3em;
  color: gold;
  text-shadow: -1px -1px green,
  -1px 1px chocolate,
  1px -1px coral,
  1px 1px purple;
  text-align: center;
}

.info, p{
  font-size: 2.7em;
  color: yellow;
  text-shadow: -1px -1px green,
  -1px 1px chocolate,
  1px -1px coral,
  1px 1px purple;
  text-align: center;
}

/*To top button*/
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	background-color:  #0c08f3;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
}

#myBtn:hover {
	background-color: #0c087a;
}

/*shop*/

table, th, td {
  border: 1px solid black;
  box-shadow: 1px 2px 2px black;
  text-align: center;
  background-color: grey;
}

table {
    width: 100%;
	margin-top: 20px;
}

caption {
  color: #cdcd32;
  text-shadow: -1px -1px 0 green,
  1px -1px 0 pink,
  -1px 1px 0 blue,
  1px 1px 0 purple;
  font-size: 3.5em;
}

/*footer*/
footer {
  width: 90%;
  height: 18%;
  background-color: crimson;
}

.fa {
	width: 40px;
	height: 40px;
	font-size: 3em;
	text-decoration: none;
	text-align: center;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/*testing area*/
.buttons {
    width: 70%;
	height: 80%;
	padding: 40px;
  }
  
  .suround {
    background-color: white;
	padding: 20px;
	height: auto;
	margin: 10px;
	box-shadow: 2px 2px 5px black;
  }
  
  .button {
    width: auto;
	height: 1.4%;
	padding: 10px;
	margin-bottom: 20px;
	outline: none;
	text-decoration: none;
	border: none;
	background-color: red;
  }
  
  .trippy {
    background: linear-gradient(135deg,
	rgba(54,123,27,1) 0%,
	rgba(1,213,255,1) 10%,
	rgba(54,123,27,1) 20%,
	rgba(1,213,255,1) 30%,
	rgba(54,123,27,1) 40%,
	rgba(1,213,255,1) 50%,
	rgba(54,123,27,1) 60%,
	rgba(1,213,255,1) 70%,
	rgba(54,123,27,1) 80%,
	rgba(1,213,255,1) 90%,
	rgba(54,123,27,1) 100%);
  }
  
  .trippy:hover {
    background: linear-gradient(45deg,
	rgba(1,213,255,1) 0%,
	rgba(54,123,27,1) 10%,
	rgba(1,213,255,1) 20%,
	rgba(54,123,27,1) 30%,
	rgba(1,213,255,1) 40%,
	rgba(54,123,27,1) 50%,
	rgba(1,213,255,1) 60%,
	rgba(54,123,27,1) 70%,
	rgba(1,213,255,1) 80%,
	rgba(54,123,27,1) 90%,
	rgba(1,213,255,1) 100%);
  }
  
  .spiral {
    width: 80%;
	height: 20%;
    background: radial-gradient(ellipse at center,
	rgba(248,80,50,1) 0%,
	rgba(255,201,216,1) 10%,
	rgba(248,80,50,1) 20%,
	rgba(255,201,216,1) 30%,
	rgba(248,80,50,1) 40%,
	rgba(255,201,216,1) 50%,
	rgba(248,80,50,1) 60%,
	rgba(255,201,216,1) 70%,
	rgba(248,80,50,1) 80%,
	rgba(255,201,216,1) 90%,
	rgba(248,80,50,1) 100%);
  }

  .spiral:hover {
    background: radial-gradient(ellipse at center,
	rgba(255,201,216,1) 0%,
	rgba(248,80,50,1) 10%,
	rgba(255,201,216,1) 20%,
	rgba(248,80,50,1) 30%,
	rgba(255,201,216,1) 40%,
	rgba(248,80,50,1) 50%,
	rgba(255,201,216,1) 60%,
	rgba(248,80,50,1) 70%,
	rgba(255,201,216,1) 80%,
	rgba(248,80,50,1) 90%,
	rgba(255,201,216,1) 100%);
  }  
  
  .switch {
    background: linear-gradient(to top, gray, white);
	box-shadow: 2px 4px 3px black;
	border: none;
	transition: all 0.1s ease;
  }
  
  .on, .off {
    color: red;
	text-decoration: none;
	text-shadow: none;
  }
  
  
  .switch:hover {
	background: linear-gradient(to bottom, gray, white);
	box-shadow: -2px -4px 3px black;
  }
  

  
  
  

.verted {
    background: linear-gradient(to right, #1a65ff, #001781);
	/*006eff*/
	color: red;
	font-size: 1.4em;
	text-shadow: 1px 1px 1px black;
	box-shadow: -2px 1px 3px black;
  }
  
  .verted:hover {
    background: linear-gradient(to right, #001781, #1a65ff);
	box-shadow: 2px 1px 3px black;
  }
  
  .inverted {
    background: linear-gradient(to right, #001781, #1a65ff);
	/*006eff*/
	color: red;
	font-size: 1.4em;
	text-shadow: 1px 1px 1px black;
	box-shadow: 2px 1px 3px black;
  }
  
  .inverted:hover {
    background: linear-gradient(to right, #1a65ff, #001781);
	box-shadow: -2px 1px 3px black;
  }
  
/*Mobile look*/
@media screen and (max-width: 800px) {
  li a{
    background: linear-gradient(#ff7f50, #ce7f50);
	border-radius: 20px;
  }
  
  li a:hover {
    background: linear-gradient(#ce7f50, #ff7f50);
  }
}

@media only screen and (orientation: landscape) {
  .verted {
    background: linear-gradient(to right, #1a65ff, #001781);
	/*006eff*/
	color: red;
	font-size: 1.4em;
	text-shadow: 1px 1px 1px black;
	box-shadow: -2px 1px 3px black;
  }
  
  .verted:hover {
    background: linear-gradient(to right, #001781, #1a65ff);
	box-shadow: 2px 1px 3px black;
  }
  
  .inverted {
    background: linear-gradient(to right, #001781, #1a65ff);
	/*006eff*/
	color: red;
	font-size: 1.4em;
	text-shadow: 1px 1px 1px black;
	box-shadow: 2px 1px 3px black;
  }
  
  .inverted:hover {
    background: linear-gradient(to right, #1a65ff, #001781);
	box-shadow: -2px 1px 3px black;
  }
  
  ul{
    background: #1a65ff;
  }
  
  body {
    background: linear-gradient(dodgerblue, green);
	
  }
  
  .main {
    background-color: #5c74ca;
  }
  
  footer {
    background-color: #4cbd12;
  }
}


/*Images gallery*/
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: block;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

.preview {
  float: left;
  width: 95%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
  width: 100%;
}

.active,
.demo:hover {
  opacity: 1;
  box-shadow: 2px 2px 2px gold;
}

img.hover-shadow {
  transition: 0.3s;
  width: 60%;
  border-radius: 3px;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
}